.header {
    position: fixed;
    width: 100%;
    h1 {
        font-size: 20px;
        margin: 0;
        margin-left: 70px;
    }
    .image-wrapper{
        width: 40px;
        img{
            width: 100%;
            height: auto
        }
    }
    .fa {
        cursor: pointer;
    }
}